<html>
    <head>
        <title>Weather Information:</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>
            Weather Information
        </h1>
        <table>
            <tr>
                <th>City: &nbsp;</td>
                <td> <%= city %>  </td>>
            </tr>
            <tr>
                <th>Region: &nbsp;</td>
                <td> <%= region %>  </td>>
            </tr>
            <tr>
                <th>Country: &nbsp;</td>
                <td> <%= country %>  </td>>
            </tr>
            <tr>
                <th>Temperature in F: &nbsp;</td>
                <td> <%= temp_f %>  </td>>
            </tr>
            <tr>
                <th>Temperature in C: &nbsp;</td>
                <td> <%= temp_c %>  </td>>
            </tr>
           
            <tr>
                <th>Feels Like Temperature in F: &nbsp;</td>
                <td> <%= feels_f %>  </td>>
            </tr>
            <tr>
                <th>Feels Like Temperature in C: &nbsp;</td>
                <td> <%= feels_c %>  </td>>
            </tr>
           
        </table>
        <br>
        <a href="/">HOME</a> 

       
    </body>
</html>